[Desktop Entry]
Actions=Open;Tray;
Categories=Qt;Network;
Comment[en_US]=Download Manager
Comment=Download Manager
Exec=ghermez
GenericName[en_US]=Download Manager
GenericName=Download Manager
GenericName[bn]=ডাউনলোড মেনেজার
GenericName[fa]=نرم افزار مدیریت بارگیری
GenericName[it]=Download Manager
Icon=ghermez
Keywords=Internet;WWW;Web;
Name[en_US]=Ghermez Download Manager
Name=Ghermez Download Manager
Name[bn]=পার্সেপোলিস
Name[fa]=قرمز
Name[it]=Download Manager Ghermez
StartupNotify=true
StartupWMClass=ghermez
Terminal=false
Type=Application
X-KDE-SubstituteUID=false

[Desktop Action Open]
Exec=ghermez
Name=Start Ghermez
Name[bn]=পার্সেপোলিস শুরু করুন
Name[fa]=اجرای برنامه
Name[it]=Avvia Ghermez

[Desktop Action Tray]
Exec=ghermez --tray
Name=Start in System Tray
Name[bn]=সিস্টেম-ট্রে-তে শুরু করুন
Name[fa]=اجرای برنامه در سینی نمایه
Name[it]=Avvia nella barra delle applicazioni
